<div class="no-top-padding">
  <h4> Preferences </h4>
<%= form_for(@preference) do |q| %>
  <div class="field" hidden = "true">
    <%= q.text_field :user_id, value: current_user.id %>
  </div>
  <div class="field" hidden = "true">
    <%= q.text_field :usergroup_id, value: @usergroup.id %>
  </div>
  <div class="field">
    <%= q.label :find, "What do you feel like?"  %><br>
    <%= q.text_field :find, value: "ex. tacos, dinner" %>
  </div>
  <div class="field">
    <%= q.label :location %><br>
    <%= q.text_field :location, value: "ex. Boston, MA" %>
  </div>
  <div class="actions">
    <%= q.submit "Submit Preferences", action: '/preferences/create', class:"submit-button", style:"width: 300px;"%>
  </div>
<% end %>
</div>
