<h1 class="show-header"> <%= @usergroup.name %></h1> <br>

<div> <h4> Group Members </h4>
<% @memberships.each do |member| %>
  <li><%= member.name  %>
    <% if current_user.preferences.empty? %>
        (This user has not submitted their preferences.)
      <% else %>
        (This user has submitted their prefences.)
    <% end %>
  </li>
<% end %>
</div>

<%= link_to "Invite New User to Group", new_invite_path %>

<% if @ready == false %>
<%= render 'preferencesform' %>
<% end %>

<% if @submit == true  %>
<div>
  <h4> Your Recommendation </h4>
  <ul>
    <% @user_1_data.businesses.each do |result| %>
      <li>Restaurant: <%= result.name %></li>
      <li>Location: <%= result.location.display_address[0] %></li>
      <li>Phone: <%= result.display_phone %></li>
      <li>Yelp Rating: <%= result.rating %> / 5</li>
      <li><%= link_to "Check out more on Yelp!", result.mobile_url, target: "blank", class: "yelp" %></li>
    <% end %>
  </ul>
</div>
  <data id="app"/>
<% end %>
