<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "IDKWDYW" %></title>
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Flamenco" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="body">
    <header class="header">
      <h1 class="headline"> "I Don't Know - What Do You Want?"<br></h1>
      <h4 class="headline-sub"> The Solution to Every Couple's Worst Nothing Fight <h4>
        <div class="login-name">
          <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>
            <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <% end %>
        </div>
        <div>
      <ul class="header-subnav">
        <% if current_user %>
          <li> <%= link_to 'Add New Group', new_usergroup_path, method: :get, class:"header-button" %></li>
          <li><%= link_to 'Your Groups', usergroups_path, method: :get, class:"header-button" %></li>
          <li><%= link_to 'Your Profile', user_path(current_user), method: :get, class:"header-button" %></li>
        <% end %>
      </ul>
    </header>
    <% flash.each do |key, value| %>
      <div class="flash-container">
        <%= value %>
      </div>
    <% end %>
    <div class="main-page">
      <%= yield %>
    </div>


  </body>
</html>
